// Foundation 6
$global-width: 1020px;
@import '../lib/foundation-sites/scss/foundation';
@include foundation-everything(true);

$global-flexbox: true;

@include foundation-global-styles;
@include foundation-button;
// @include foundation-grid;
@include foundation-flex-classes;
@include foundation-flex-grid;

// Dev Styles
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}


// Super-Tipster
@import 'super-tipster';
