<!DOCTYPE html>
<html ng-app="tipster">
    <head>
        <meta charset="utf-8">
        <title>Angular Super Tipster</title>

        <!--build:css css/styles.min.css-->
        <link rel="stylesheet" href="/css/styles.css">
        <!--endbuild-->
    </head>
    <body ng-controller="tipsperController">

        <div class="top-bar">
            <strong>{{ title }}</strong>
        </div>

        <div class="row">
          <div class="columns">
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam velit neque, efficitur eu eleifend auctor, aliquet eu turpis. Nam eu hendrerit nisl. Ut a vestibulum odio. Ut ipsum massa, varius at gravida sit amet, dignissim vestibulum metus. Morbi mattis lobortis tellus. Curabitur condimentum suscipit turpis ut feugiat. Mauris consequat, tortor imperdiet blandit congue, libero odio vehicula mauris, ut ullamcorper enim tortor in elit. Maecenas nunc dui, suscipit vel turpis et, suscipit tempor eros. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce enim tortor, mattis quis ullamcorper vel, convallis eu enim. Nunc sed dolor venenatis libero lobortis dapibus vel vel arcu. Suspendisse potenti.</p>
          </div>
        </div>

        <div class="row">
          <div class="columns large-4 medium-4 small-4">
              <super-tipster class="tipster-base">
                  <a href="#" tipster-trigger>Link 1</a>
                  <div class="super-tipster">
                      <div class="tipster-content">
                          <div class="tipster-header">
                              Favorite Decade
                          </div>
                          <ul class="tipster-list">
                              <li>
                                  <input type="checkbox" ng-model="decades.seventies" ng-change="selectDecade()"> 70's
                              </li>
                              <li>
                                  <input type="checkbox" ng-model="decades.eighties" ng-change="selectDecade()"> 80's
                              </li>
                              <li>
                                  <input type="checkbox" ng-model="decades.nineties" ng-change="selectDecade()"> 90's
                              </li>
                          </ul>
                      </div>
                  </div>
              </super-tipster>
          </div>
          <div class="columns large-4 medium-4 small-4">
              <super-tipster class="tipster-base" width="400">
                  <button class="button small secondary" tipster-trigger>Link 2</button>
                  <div class="super-tipster">
                      <div class="tipster-content">
                          <span class="close-tipster" close-tipster>x</span>
                          <div class="tipster-header">
                              Heading Two!
                          </div>
                          <span>This is some content here for just the fun of having a sample. As I continue typing this I don't care about my spelling because I just need some content for this thing.</span>
                      </div>
                  </div>
              </super-tipster>
          </div>
          <div class="columns large-4 medium-4 small-4 text-right">
              <super-tipster class="tipster-base">
                  <button class="button small" tipster-trigger>Link 3</button>
                  <div class="super-tipster">
                      <div class="tipster-content">
                          <div class="tipster-header">
                              Heading Three!
                          </div>
                          <span>I came in third place. I am so sad because I come third. How am I going to go on like this?</span>
                      </div>
                  </div>
              </super-tipster>
          </div>
        </div>

        <div class="row">
          <div class="columns">
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam velit neque, efficitur eu eleifend auctor, aliquet eu turpis. Nam eu hendrerit nisl. Ut a vestibulum odio. Ut ipsum massa, varius at gravida sit amet, dignissim vestibulum metus. Morbi mattis lobortis tellus. Curabitur condimentum suscipit turpis ut feugiat. Mauris consequat, tortor imperdiet blandit congue, libero odio vehicula mauris, ut ullamcorper enim tortor in elit. Maecenas nunc dui, suscipit vel turpis et, suscipit tempor eros. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce enim tortor, mattis quis ullamcorper vel, convallis eu enim. Nunc sed dolor venenatis libero lobortis dapibus vel vel arcu. Suspendisse potenti.</p>
          </div>
        </div>

        <div class="row">
            <div class="columns large-3">
                <button class="button small secondary">Link</button>
            </div>
            <div class="columns large-3">
                <button class="button small secondary">Link</button>
            </div>
            <div class="columns large-3">
                <button class="button small secondary">Link</button>
            </div>
            <div class="columns large-3">
                <super-tipster class="tipster-base">
                    <button class="button small secondary" tipster-trigger>Link 4</button>
                    <div class="super-tipster">
                        <div class="tipster-content">
                            <div class="tipster-header">
                                Heading Four!
                            </div>
                            <span>444444444 44444 444444 4444 444444444444 444444 4444 4444444 444 444 444 4444444444</span>
                        </div>
                    </div>
                </super-tipster>
            </div>
        </div>

        <script src="lib/jquery/dist/jquery.min.js"></script>
        <script src="lib/angular/angular.js"></script>
        <script src="js/super-tipster-controller.js"></script>
        <!--build:js js/super-tipster.js -->
        <script src="js/super-tipster.js"></script>
        <!-- endbuild -->
    </body>
</html>
